.lamp-card {
	padding: 12px;
	background: #fff;
	border: 1px solid #e4eaed;
	border-radius: 8px;
	flex: 1;
}

.lamp-card-header {
	display: flex;
	gap: 8px;
	justify-content: space-between;
}

.lamp-card-icon {
	min-width: 60px;
	width: 60px;
	height: 60px;
}

.lamp-card-icon img {
	background-size: 60px 60px;
	background-repeat: no-repeat;
}

.lamp-card-caption {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.lamp-card-toggle {
	align-self: center;
}

.lamp-card-title {
	font-size: 16px;
	font-weight: 600;
	margin-top: 4px
}

.lamp-card-body {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.lamp-card-label {
	font-size: 14px;
	font-weight: 500;
}